/* base */
@font-face {
  font-family: "titillium";
  src: url("../../assets/Titillium_Web/TitilliumWeb-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "titillium";
}

body {
  background-color: #520000;
  font-family: "titillium";
}

a {
  text-decoration: none;
}

.font-sans {
  font-family: "titillium";
  font-weight: bold;
}

.font-fm {
  font-family: "titillium";
}

h1 {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-family: "titillium";
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
  color: #520000;
}

.ticket {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  font-weight: bold;
  font-family: "titillium";
  font-size: 3rem;
  color: #FFEFEF;
}

@media (max-width: 768px) {
  .entradas {
    text-align: center;
    font-size: 1.5rem;
  }
}
/* components */
.bg-red {
  background-color: #FF1E1E;
}

.bg-red {
  background-color: #FF1E1E;
}

/* layouts */
/* index section */
.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  padding-top: 80px;
  background-image: linear-gradient(to bottom, #520000, #FFDCDC);
}

@media (max-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 1rem;
  }
  .hero-content img {
    width: 80%;
  }
}
.hero-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero-content img {
  width: 60%;
  height: 550px;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid #FF1E1E;
  box-shadow: 10px 10px 10px #520000;
}
.hero-content p {
  font-family: "titillium";
  font-size: 1.3rem;
  text-align: center;
  color: #000000;
  padding: 10px;
}
.hero-content h2 {
  font-family: "titillium";
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: #000000;
  padding: 15px;
}
.hero-content a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  border: 1px solid transparent;
  color: #FFDCDC;
  font-size: 20px;
  border-radius: 20px;
  background-color: #520000;
  font-family: "titillium";
  font-weight: bold;
  box-shadow: 5px 5px 20px #FF1E1E;
}
.hero-content a:hover {
  background-color: #FFDCDC;
  border-radius: 30px;
  padding: 10px;
  transition: 0.4s;
  color: #520000;
  border: 1px solid #520000;
  box-shadow: 5px 5px 5px #520000;
}

.hero-article {
  display: flex;
  padding: 40px;
}

.container-section {
  padding-bottom: 150px;
}

@media (max-width: 1400px) {
  .container-section {
    flex-direction: column;
    font-size: 1rem;
  }
  .hero-article {
    flex-direction: column;
    font-size: 1rem;
  }
  .hero-article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.hero-article img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 40px;
  border: 2px solid #FFDCDC;
  box-shadow: 10px 10px 15px #000000;
}

.container-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.container-content h2 {
  font-family: "titillium";
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: #FFDCDC;
}
.container-content p {
  font-family: "titillium";
  font-size: 1.2rem;
  text-align: center;
  color: #FFDCDC;
}
.container-content a {
  text-decoration: none;
  padding: 7px;
  border: 1px solid #FFDCDC;
  width: 70%;
  text-align: center;
  color: #520000;
  font-size: 20px;
  background-color: #FFDCDC;
  border-radius: 15px;
  font-family: "titillium";
  font-weight: bold;
  box-shadow: 5px 5px 5px #000000;
}
.container-content a:hover {
  background-color: #520000;
  color: #FFDCDC;
  border-radius: 20px;
  padding: 7px;
  transition: 0.4s;
  box-shadow: 5px 5px 5px #FFDCDC;
}

/* pilotos section */
.tittle-pilotos {
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: space-around;
  text-align: center;
  font-weight: bold;
  font-family: "titillium";
  font-size: 3rem;
  background-color: #FFDCDC;
  color: #520000;
  margin-bottom: 0;
}

.pilotos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "piloto1 piloto1 piloto2 piloto2" "piloto3 piloto3 piloto4 piloto4" "piloto5 piloto5 piloto6 piloto6";
  padding: 10px;
  gap: 10px;
  background-image: linear-gradient(to bottom, #FFDCDC, #520000);
}

@media (max-width: 768px) {
  .pilotos-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "piloto1 piloto1" "piloto2 piloto2" "piloto3 piloto3" "piloto4 piloto4" "piloto5 piloto5" "piloto6 piloto6";
  }
  .driver-content {
    text-align: center;
  }
  .driver-content h2 {
    font-size: 1.5rem;
  }
  .driver-content a {
    font-size: 1.2rem;
  }
}
.pilotos-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  border: 2px solid #FFDCDC;
  box-shadow: 5px 5px 10px #000000;
}

.pilotos-box {
  display: flex;
  position: relative;
  width: 100%;
  height: 400px;
}

.p1 {
  grid-area: piloto1;
}

.p2 {
  grid-area: piloto2;
}

.p3 {
  grid-area: piloto3;
}

.p4 {
  grid-area: piloto4;
}

.p5 {
  grid-area: piloto5;
}

.p6 {
  grid-area: piloto6;
}

.driver-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: white;
}
.driver-content h2 {
  font-family: "titillium";
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  color: #520000;
  background-color: #FFDCDC;
  border-radius: 10px;
  box-shadow: 7px 7px 7px #520000;
}
.driver-content a {
  color: #FFDCDC;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid #FFDCDC;
  border-radius: 10px;
  background-color: #520000;
}
.driver-content a:hover {
  background-color: #FFDCDC;
  transition: 0.5s;
  color: #520000;
}

/* entradas */
.entradas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.card {
  position: relative;
  width: 400px;
  height: 500px;
  background-color: #520000;
}
.card .entrada {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.card .frente {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px black;
}
.card .frente img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .frente h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.card:hover .frente {
  transform: perspective(600px) rotateY(180deg);
}
.card .atras {
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #FFDCDC;
  padding: 15px;
  color: #520000;
  box-shadow: 0 5px 10px black;
}
.card .atras h3 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
}
.card .atras .btn {
  height: 50px;
}
.card:hover .atras {
  transform: perspective(600px) rotateY(360deg);
}
.card .atras .btn a {
  color: #520000;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}

/* car section */
.cars {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "car1 car1 car2 car2" "car3 car4 car4 car5" "car6 car6 car7 car7" "car8 car8 car9 car10";
  padding: 10px;
  gap: 20px;
}

@media (max-width: 768px) {
  .cars {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "car1 car1" "car2 car2" "car3 car3" "car4 car4" "car5 car5" "car6 car6" "car7 car7" "car8 car8" "car9 car9" "car10 car10";
  }
}
.car-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #000000;
}

.car-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: white;
  gap: 10px;
}
.car-content h2 {
  font-family: "titillium";
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  color: #520000;
  background-color: #FFDCDC;
  border-radius: 15px;
}
.car-content a {
  color: #520000;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 15px;
  border: 1px solid #FF1E1E;
  text-align: center;
  background-color: #FFDCDC;
}

.car-item {
  display: flex;
  position: relative;
  width: 100%;
  height: 400px;
}

.c1 {
  grid-area: car1;
}

.c2 {
  grid-area: car2;
}

.c3 {
  grid-area: car3;
}

.c4 {
  grid-area: car4;
}

.c5 {
  grid-area: car5;
}

.c6 {
  grid-area: car6;
}

.c7 {
  grid-area: car7;
}

.c8 {
  grid-area: car8;
}

.c9 {
  grid-area: car9;
}

.c10 {
  grid-area: car10;
}

.notice-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "noticia1 noticia1 noticia1 noticia2" "noticia3 noticia4 noticia4 noticia4" "noticia5 noticia5 noticia6 noticia6";
  padding: 10px;
  gap: 10px;
}

@media (max-width: 768px) {
  .notice-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "noticia1 noticia1" "noticia2 noticia2" "noticia3 noticia3" "noticia4 noticia4" "noticia5 noticia5" "noticia6 noticia6";
  }
  .notice-content {
    text-align: center;
  }
  .notice-content h2 {
    font-size: 1.5rem;
  }
  .notice-content a {
    font-size: 1.2rem;
  }
}
.notice-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.notice-box {
  display: flex;
  position: relative;
  width: 100%;
  height: 400px;
}

.n1 {
  grid-area: noticia1;
}

.n2 {
  grid-area: noticia2;
}

.n3 {
  grid-area: noticia3;
}

.n4 {
  grid-area: noticia4;
}

.n5 {
  grid-area: noticia5;
}

.n6 {
  grid-area: noticia6;
}

.notice-content {
  background-color: rgba(0, 0, 0, 0.336);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: white;
  gap: 10px;
}
.notice-content h2 {
  font-size: 1, 2rem;
  color: #FFEFEF;
}
.notice-content a {
  color: #FFEFEF;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 10px;
}
.notice-content a:hover {
  background-color: rgba(0, 0, 0, 0.445);
  transition: 0.5s;
}

/* carousel section */
.carousel-item {
  width: 100%;
  height: 700px;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ferrari img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* cards tienda */
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 50px;
  gap: 20px;
}

.prod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #FFDCDC;
  border: 1px solid #520000;
  box-shadow: 10px 10px 20px #FFDCDC;
  border-radius: 15px;
  overflow: hidden;
  font-family: "titillium";
  font-weight: bold;
}
.prod a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 20px;
  padding: 5px;
  border-radius: 10px;
  color: #FFDCDC;
  background-color: #520000;
}
.prod img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.prod div {
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  color: #520000;
}

/* equipos tienda */
.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "team1 team2 team3" "team4 team5 team6" "team7 team8 team9";
  padding: 70px;
  gap: 60px;
}

@media (max-width: 768px) {
  .team {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "team1 team1" "team2 team2" "team3 team3" "team4 team4" "team5 team5" "team6 team6" "team7 team7" "team8 team8" "team9 team9";
  }
}
.team-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 5px 5px 12px #000000;
}

.team-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: white;
  gap: 10px;
}
.team-content h4 {
  font-family: "titillium";
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  color: #520000;
  background-color: #FFDCDC;
  border-radius: 15px;
  border: 1px solid #520000;
}
.team-content a {
  font-family: "titillium";
  font-weight: bold;
  color: #FFDCDC;
  padding: 5px;
  font-size: 1rem;
  border-radius: 15px;
  text-align: center;
  background-color: #520000;
  border: 1px solid #FFDCDC;
}

.team-item {
  display: flex;
  position: relative;
  width: 100%;
  height: 350px;
}
.team-item:hover {
  transform: scale(1.2);
}

.t1 {
  grid-area: team1;
}

.t2 {
  grid-area: team2;
}

.t3 {
  grid-area: team3;
}

.t4 {
  grid-area: team4;
}

.t5 {
  grid-area: team5;
}

.t6 {
  grid-area: team6;
}

.t7 {
  grid-area: team7;
}

.t8 {
  grid-area: team8;
}

.t9 {
  grid-area: team9;
}

/* contact section */
.main-contact {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 340px;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  text-align: center;
  color: #b40000;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.input-contact {
  padding: 17px 25px;
  margin-bottom: 20px;
  outline: none;
}

textarea {
  margin-bottom: 20px;
  outline: none;
}

/*# sourceMappingURL=style.css.map */
