/* base */

@import 'base/resets';
@import 'base/vars';
@import 'components/navbar';
@import 'components/footer';
@import 'layouts/index';
@import 'layouts/entradas';
@import 'layouts/equipos';
@import 'layouts/tienda';
@import 'layouts/contacto';


.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    padding-top: 80px;
    background-color: #f2a389;
  }
  
  @media (max-width: 1024px) {
    .hero {
      flex-direction: column;
      font-size: 1rem;
    }
  
    .hero-content img {
      width: 80%;
    }
  }
  
.hero-content {
    img {
      width: 60%;
      height: 550px;
      object-fit: cover;
      border-radius: 20px;
      border: 2px solid black;
    }
  
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  
    p {
      font-size: 1.2rem;
      text-align: center;
      padding: 10px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  
    h2 {
      font-size: 2rem;
      text-align: center;
      padding: 10px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
    }
  
    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      padding: 10px;
      border: 1px solid black;
      color: white;
      font-size: 20px;
      border-radius: 20px;
      background-color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
  
      &:hover {
        background-color: red;
        border-radius: 30px;
        padding: 10px;
        transition: 0.5s;
      }
    }
}
  