.contact {
  font-family: 'titillium';
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 20px black;
  border-radius: 20px;
  text-align: center;
  width: 700px;
  background-color: $tertiary-color;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  color: #000000;
  font-size: 35px;
  font-weight: bold;
}

label {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

.form-title {
  padding: 17px 25px;
  margin-bottom: 20px;
  background-color: $light-color;
  border: 2px solid black;
  color: $quaternary-color;
}

input::placeholder, textarea::placeholder {
  color: $quaternary-color;
}

.form-txt {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;

  a {
    color: $quaternary-color;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.boton {
  font-size: 1rem;
  color: $tertiary-color;
  border: 0;
  background-color: $quaternary-color;
  box-shadow: 5px 5px 10px black;
}