/* entradas */

.entradas {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    font-weight: bold;
    font-family: 'titillium';
    font-size: 3rem;
    color: $light-color;
  
    a:hover {
      background-color: $secondary-color;
      border-radius: 10px;
      color: $tertiary-color;
      transition: 0.4s;
      box-shadow: 5px 5px 10px $secondary-color;
      border: 1px solid $dark-color;
    }
  }
  
  @media (max-width: 768px) {
    .entradas {
      text-align: center;
      font-size: 1.5rem;
    }
  }
  
  .hero-entradas {
    display: flex;
    flex-grow: 1;
    flex-basis: 450px;
    flex-direction: column;
    width: 600px;
    position: relative;
  
    img {
      @include img(100%, 300px, cover);
      object-position: bottom;
      border-radius: 20px;
      border: 2px solid $tertiary-color;
      box-shadow: 5px 5px 5px $dark-color;
    }
  }
  
  .entradas-content {
    h3 {
      @include tittle(bold, center, 2rem, $tertiary-color);
    }
  
    a {
      text-decoration: none;
      padding: 5px;
      border: 1px solid $tertiary-color;
      color: $quaternary-color;
      font-family: 'titillium';
      font-size: 18px;
      font-weight: bold;
      background-color: $tertiary-color;
      border-radius: 15px;
      text-align: center;
    }
  
    @include flex(column, center, center, 7px);
  
    &:hover img:not(:hover) {
      filter: grayscale(100%);
    }
  }